<div class = "container">
  <div class = "row">
    <div class = "col-md-offset-1 col-md-4 col-xs-12 contact">
      <h2>A propos de moi</h2>
      <p>
        Je m'appelle Darya Trukhan et j'ai 20 ans. Je suis née en Biélorussie et
        j'y ai vécu jusqu'à l'âge de 7 ans. Puis ma famille et moi avons déménagé
        à Tokyo où nous avons vécu 7 ans. Puis c'est à Paris que nous nous sommes
        déplacés et voici la 6 année que je suis en France.
      </p>
      <p>
        Je suis passionnée par le dessin depuis mon enfance. Je m'épanouis en
        créant des différents projets en cherchant à faire progresser mes capacités
        artistiques.
      </p>
      <p>
        En 2016 j'ai été admise directement en troisième année de l'école Isart
        Digital pour devenir animateur 3D. Actuellement je suis à la recherche d'un
        stage pour me developer en tant qu'artiste et professionnel.
      </p>
      <p>
        J'espère que vous allez apprécier mon portfolio.
        Merci de votre visite et bonne journée!
      </p>
    </div>
    <div class = "col-md-offset-2 col-md-4 col-xs-12 contact">
      <h2>Contactez-moi</h2>
      <p>Tel: +33689521977</p>
      <%= link_to image_tag('facebook-logo-button.png') , 'https://www.facebook.com/profile.php?id=100001326534418' %>
      <%= link_to image_tag('linkedin-logo-button.png') , 'https://www.linkedin.com/in/darya-trukhan-9741a212a?trk=nav_responsive_tab_profile' %>
      <div class = "contact">
        <%= form_tag("/contacts", method: "post") do %>
          <%= label_tag(:name, "Prènom") %>
          <%= text_field_tag :name, params[:name], class: "form-control" %>
          <%= label_tag(:email, "Email") %>
          <%= email_field_tag :email, params[:email], class: "form-control" %>
          <%= label_tag(:subject, "Sujet") %>
          <%= text_field_tag :subject, params[:subject], class: "form-control" %>
          <%= label_tag(:texte, "Texte") %>
          <%= text_area_tag :texte, params[:texte], class: "form-control" %>
          <%= submit_tag("Envoyer", class: "btn btn-primary")   %>
        <% end %>

        <%#= form_for (@email) do |f| %>
          <%#= f.label :Prènom %>
          <%#= f.text_field :prenom, class: 'form-control' %>
          <%#= f.label :Email %>
          <%#= f.email_field :email, class: 'form-control' %>
          <%#= f.label :Sujet %>
          <%#= f.text_field :sujet, class: 'form-control' %>
          <%#= f.label :Texte %>
          <%#= f.text_area :texte, class: 'form-control' %>
          <%#= f.submit "Envoyer", class: "btn btn-primary" %>
        <%# end %>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12 col-xs-12" id = "imageChamp">
      <%= image_tag('champ.png', class: 'imageAccueile center-block') %>
    </div>
  </div>
</div>
