<div class = 'container'>
  <div class = 'row'>
    <div class="col-md-1">

    </div>
    <div class="col-md-10 cadreAccueile">
      <div class = "textAccueile">
        <h1>Bienvenue!</h1>
        <p>
          Je m'appelle Darya Trukhan, actuellemnt étudinte en troisième année de
          bachelor Digital Art option cinéma d'animation à l'école Isart Digital
          à Paris.
        </p>
        <p>
          Ici vous aurez la possibilté de faire conaissance avec mon portfolio
          graphique et télécharger mon CV. Vous pouvez ainsi vous faire plaisir
          en observant les décortions que j'ai faites pour le site. Merci de votre
          visite!
        </p>
        <div class = 'row'>
          <div class = 'col-md-offset-5 col-md-2'>
            <button type="button" class="btn btn-primary" id="CV">CV</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-1'>
    </div>
    <div class = 'col-md-2 case'>
      <%= link_to image_tag('illus bottle.png') , portfolio_illustration_path %>
    </div>
    <div class = 'col-md-2'>
      <%= link_to image_tag('decor bottle.png',) , portfolio_background_path %>
    </div>
    <div class = 'col-md-2'>
      <%= link_to image_tag('chara bottle.png') , portfolio_personnages_path %>
    </div>
    <div class = 'col-md-2'>
      <%= link_to image_tag('3d bottle.png') , portfolio_modeles3D_path %>
    </div>
    <div class = 'col-md-2'>
      <%= link_to image_tag('contact bottle.png') , contacts_path %>
    </div>
    <div class = 'col-md-1'>
      <%= image_tag('fl.png', class: 'flImage') %>
    </div>
  </div>
</div>
<script>
  $("#CV").click(function(){
    window.open("images/CV.png")
  });
</script>
