<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h1 class = "titlePages">Portfolio</h1>
    </div>
    <div class = "col-md-12">
      <%= link_to image_tag('Untitled-2.png',class: 'center-block')%>
    </div>
    <div class = "col-md-12">
      <h2>Illustrations</h2>
      <%= link_to image_tag('illusbutton.png',class: 'center-block'), portfolio_illustration_path %>
    </div>
    <div class = "col-md-12">
      <h2>Backgrounds & Décor</h2>
      <%= link_to image_tag('decorbutton.png',class: 'center-block'), portfolio_background_path %>
    </div>
    <div class = "col-md-12">
      <h2>Personnages</h2>
      <%= link_to image_tag('charabutton.png',class: 'center-block'), portfolio_personnages_path %>
    </div>
    <div class = "col-md-12">
      <h2>Modèles 3D</h2>
      <%= link_to image_tag('3dbutton.png',class: 'center-block'), portfolio_modeles3D_path %>
    </div>
    <div class = "col-md-12">
      <h2>Photographie</h2>
      <%= link_to image_tag('photo.png',class: 'center-block'), portfolio_photographie_path %>
    </div>
    <div class = "col-md-12">
      <h2>Video</h2>
      <%= link_to image_tag('video.png',class: 'center-block'), portfolio_video_path %>
    </div>
  </div>
</div>
