<!DOCTYPE html>
<html>
  <head>
    <title>DariyaWebSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <script type="text/javascript">
      $(function(){
        $('a[href^="#"]').click(function(){
        var target = $(this).attr('href');
        $('html, body').animate({scrollTop: $(target).offset().top}, 2000);//800 - длительность скроллинга в мс
        return false;
        });
      });
    </script>
  </head>

  <body>
      <%= render 'layouts/header' %>
    <div class = "wrapper">
      <div class ="content">
        <%= yield %>
      </div>
      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
