<!DOCTYPE html>
<html>
  <head>
    <title>DariyaWebSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
      <%= render 'layouts/header' %>
  </head>

  <body>
    <div class = "wrapper">
      <div class ="content">
        <%= yield %>
      </div>
      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
